= form_for @emprego do |f|
  - if @emprego.errors.any?
    #error_explanation
      %h2= "#{pluralize(@emprego.errors.count, "error")} prohibited this emprego from being saved:"
      %ul
        - @emprego.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :cargo
    = f.text_field :cargo
  .field
    = f.label :quantidadeDeVagas
    = f.number_field :quantidadeDeVagas
  .field
    = f.label :salario
    = f.text_field :salario
  .field
    = f.label :descricao
    = f.text_area :descricao
  .field
    = f.label :requisitos
    = f.text_field :requisitos
  .field
    = f.label :PessoaJuridica
    = f.text_field :PessoaJuridica
  .actions
    = f.submit 'Save'
