= form_for @pessoa_fisica do |f|
  - if @pessoa_fisica.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pessoa_fisica.errors.count, "error")} prohibited this pessoa_fisica from being saved:"
      %ul
        - @pessoa_fisica.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nomeCompleto
    = f.text_field :nomeCompleto
  .field
    = f.label :idade
    = f.text_field :idade
  .field
    = f.label :dataNascimento
    = f.text_field :dataNascimento
  .field
    = f.label :endereco
    = f.text_field :endereco
  .field
    = f.label :cpf
    = f.number_field :cpf
  .field
    = f.label :cidade
    = f.text_field :cidade
  .field
    = f.label :bairro
    = f.text_field :bairro
  .field
    = f.label :telefone
    = f.text_field :telefone
  .field
    = f.label :email
    = f.text_field :email
  .actions
    = f.submit 'Save'
