%h1 Listing pessoa_fisicas

%table
  %tr
    %th Nomecompleto
    %th Idade
    %th Datanascimento
    %th Endereco
    %th Cpf
    %th Cidade
    %th Bairro
    %th Telefone
    %th Email
    %th
    %th
    %th

  - @pessoa_fisicas.each do |pessoa_fisica|
    %tr
      %td= pessoa_fisica.nomeCompleto
      %td= pessoa_fisica.idade
      %td= pessoa_fisica.dataNascimento
      %td= pessoa_fisica.endereco
      %td= pessoa_fisica.cpf
      %td= pessoa_fisica.cidade
      %td= pessoa_fisica.bairro
      %td= pessoa_fisica.telefone
      %td= pessoa_fisica.email
      %td= link_to 'Show', pessoa_fisica
      %td= link_to 'Edit', edit_pessoa_fisica_path(pessoa_fisica)
      %td= link_to 'Destroy', pessoa_fisica, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pessoa fisica', new_pessoa_fisica_path
