= simple_form_for(@estagio) do |f|
  = f.error_notification

  .form-inputs
    = f.input :cargo
    = f.input :quantidadeDeVagas
    = f.input :salario
    = f.input :descricao
    = f.input :especificacaoDeVaga
    = f.association :pessoa_juridica, label_method: :nome

  .form-actions
    = f.button :submit, 'Salvar'
