= simple_form_for(@pessoa_juridica) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nome
    = f.input :endereco
    = f.input :bairro
    = f.input :email
    = f.input :telefone
    = f.input :porte
    = f.input :cnpj
    = f.input :cidade

  .form-actions
    = f.button :submit , 'Salvar'
